<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="chessPuzzlesApp">
<head>
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="app/Board.js"></script>
    <script src="app/KnightSolver.js"></script>
    <script src="app/BoardController.js"></script>
    <link href="app/BoardView.css" rel="stylesheet" />
</head>
<body ng-controller="BoardCtrl">
        <div ng-repeat="row in rows">
            <div ng-repeat="col in row" class="cell">
                {{col}}
            </div>
        </div>
</body>
</html>
